---
import { cn } from '../../lib/ui/cn';
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'div'> {
    class?: string;
}

const { class: className = '', ...rest } = Astro.props as Props;
---

<div class={cn('mx-auto max-w-7xl px-6 lg:px-12', className)} {...rest}>
    <slot />
</div>
